.right{
    width: 100%;
    /* padding: 0 8%; */
    height: 100vh;
    color: grey;
    
}


.rightContainer {
    padding: 8%;
    height: 65%;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    color: black;
}

.productInfo {
    width: 85%;
    font-size: 1.8cap;
    margin: 25px 0;
}

.prize {
    color: black;
    font-size: 2.2rem;
    margin: 15px 0;
}


.buyNow{
    background-color:#f1e7c3;
    border: none;
    padding: 10px 45px;
    margin: 25px 0;
}