.navbar{
    display: flex;
    /* justify-content: space-between; */

}


/* .navlists {
    display: flex;
    justify-content: space-between;

}*/


.navlist {
    width: 30.33%;
    
    text-align: center;
    padding: 20px;
}

.navlist:hover {
    background-color:#f1e7c3 ;
}

/*



.navicons {
    display: flex;
    align-items: center;
    gap: 2em;
    
} */


@media (max-width: 300px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    
}