.navbar{
    display: flex;
    height: 10%;
}


.navlist {
    width: 33.3%;
    text-align: center;
    padding: 25px;
}


.navlist:hover {
    background-color:#f1e7c3 ;
    color: black;
}


.navicons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.5em;
    padding: 29px;
    margin: 0 8%;
    
} 





@media (max-width: 930px) {
    .navbar {
        /* flex-direction: column; */
        padding: 5px;
        gap: 5px;
    }
    /* .navicons{
        flex-direction: column;
        gap: 10px;
    } */
    
}