@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost' ,sans-serif;
    /* overflow: hidden; */
}


.home {
    width: 100%;
    height:  100vh;
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff 50%,
        #f1e7c3 50%,
        #f1e7c3 0%
    );
}


.home-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}